alloworigin=["https://experience.adobe.com", "https://localhost:8000", "https://localhost:8001", "https://localhost:8443", "http://localhost:3000", "https://localhost:3000"]
allowedpaths=["/content/ue-demo/.*", "/adobe/graphql/.*"]
supportedmethods=["GET", "POST", "PUT", "DELETE", "OPTIONS"]
supportedheaders=["Authorization", "Origin", "Accept", "X-Requested-With", "Content-Type", "Access-Control-Request-Method", "Access-Control-Request-Headers"]
supportscredentials=Boolean"true"
